@use './reset.scss';
@use './variables.scss';

html {
  font-size: 16px;
}

#app {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: normal;
  height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

@media screen and (max-width: 750px) {
  :root {
    --side-padding: 20px;
  }
}
